i{
    margin-right: 5%;
}

.boton-registro{
    width: 20%;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(0, 128, 0) !important;
    color: #fff !important;
    font-weight: bold !important;
}


.boton-registro:hover{
    background-color: rgb(3, 95, 3) !important;
    font-weight: bolder !important;
    font-size: medium;
}


.borde-tabla{
    border-left: 1px dotted;
    border-right: 1px dotted;
    border-color: rgb(68, 65, 71);
}


.icono{
    margin-right: 10%;
}


  /* --------------------------- RESPONSIVE POR TAMAÑO DE PANTALLAS  --------------------------------------------------------------------------*/


@media (max-width: 1200px) {
    
    .boton-registro{
        width: 25%;
    }
    
}


@media (max-width: 1000px) {
    
    .boton-registro{
        width: 30%;

    }
    
}


@media (max-width: 800px) {
    
    .boton-registro{
        width: 40%;
    }
    
}