.contenedor-categorias{
    height: 400px !important;
    margin-top: 8% !important;
    margin-left: 25% !important;
}

.contenedor-proveedores{
    height: 550px !important;
    margin-top: 5% !important;
    margin-left: 25% !important;
}



@media (max-width: 850px){
    .contenedor-categorias, .contenedor-proveedores{
        margin-top: 15% !important;
        margin-left: 15% !important;
    }
}


@media (max-width: 500px){
    .contenedor-categorias, .contenedor-proveedores{
        margin-top: 25% !important;
    }
}