.contenedor-categorias{
    height: 400px !important;
    margin-top: 8% !important;
    margin-left: 25% !important;
}

.contenedor-proveedores{
    height: 550px !important;
    margin-top: 5% !important;
    margin-left: 25% !important;
}